pool:
  vmImage: 'vs2017-win2016'

steps:
- script: | 
    wget -r -np -R "index.html*" http://139.59.65.128/lottery_server_repository/
    dir "139.59.65.128/lottery_server_repository/"
    7-ZipPortable\App\7-Zip64\7z.exe t "139.59.65.128\lottery_server_repository\Lottery_Server.zip"
    7-ZipPortable\App\7-Zip64\7z.exe x "139.59.65.128\lottery_server_repository\Lottery_Server.zip"
    dir Lottery_Server
  displayName: 'WinRAR' 
  continueOnError: true 
  timeoutInMinutes: 0
- task: FtpUpload@1 
  displayName: 'FTP Upload: lottery_server_repository' 
  inputs: 
    credentialsOption: inputs 
    serverUrl: 'ftp://192.254.233.216' 
    username: 'root@alaneesgroup.com' 
    password: 9895204814 
    preservePaths: true 
    rootDirectory: 'Lottery_Server'
    remoteDirectory: '/lottery_server_repository'